.cart {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  border: 3px solid var(--border-clr);
  width: 450px;
  background: #f5f5f5;
}

.showCart {
  display: block;
}

.cart-positioning {
  position: relative;
  height: 100%;
}

.center-cart {
  margin-inline: var(--sp-lg);
}

.cart-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: var(--sp-sm) 0;
}

.cart-header-nav {
  display: flex;
  gap: 2em;
  align-items: center;
}

.cart-header-nav h3 {
  color: #2e2c2c;
  font-size: 20px;
  font-weight: 600;
}
.cart-header-nav span {
  cursor: pointer;
}
.cart-list {
  width: 100%;
}

.cart-total {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 20px;
  box-shadow: 2px 0px 4px rgba(158, 158, 158, 0.4);
  border-radius: 1px;
}

.cart-total p {
  font-size: 15px;
  color: rgba(46, 44, 44, 0.56);
}

.cart-total h3 {
  font-size: 21px;
  color: #2e2c2c;
  font-weight: 700;
}

.cart-total button {
  background: var(--pry-clr);
  padding: 9px 27px;
  border-radius: 3px;
  border: 0;
  color: #ffffff;
  font-size: 15px;
}
