.right-sidebar {
  width: 17%;
  border-left: 2px solid var(--border-clr);
}

.right-sidebar-center {
  width: 90%;
  margin: 0 auto;
}

.right-sidebar-center h2 {
  font-size: calc(var(--fs-m)-1px);
}

.right-sidebar-center p {
  color: #aaa8a8;
  font-size: 10px;
  padding-bottom: 15em;
}

.invite {
  margin-top: var(--sp-xlg);
}

.bd-btm {
  border-bottom: 1px solid #f0f0f0;
}

.orders,
.payment {
  margin-top: var(--sp-m);
}
